/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Root Global CSS Variables */
:root {
    --buttons: #8264B2;
    --answer-select: #6F4077;
    --correct: #649E5A;
    --incorrect: #AE4646;
    --default-font: #5B4482;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.clock {
    position: absolute;
    right: 10%;
    top: 2%;
}

#countdown {
    position: absolute;
    right: 22%;
    top: 4%;
    font-size: 1.25rem;
}

.questions {
    color: var(--default-font);
    font-weight: 600;
    display: inline-block;
    margin-top: 8rem;
    margin-left: 7rem;
}

/* Buttons */

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}
.choice-text {
    width: 100%;
}
.answer {
    text-decoration: none;
    background-color: var(--buttons);
    color: #fff;
    padding: 7% 30%; 
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 5px;
}

.answer:hover {
    background-color: #8f559a;
    cursor: pointer;
    box-shadow: 8px 8px 20px 0px #30234471;
    transform: translateY(-0.1rem);
    transition: transform 200ms;
}

/* answer selected */
.answer:active {
    background-color: var(--answer-select);
} 

/* displays when correct answer is selected */
.correct {
    text-decoration: none;
    background-color: var(--correct);
    color: #fff;
    padding: 7% 30%; 
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 0.75rem;
    box-shadow: 8px 8px 20px 0px #30234471;
    cursor: pointer;
}


/* displays when incorrect answer is selected */
.incorrect {
    text-decoration: none;
    background-color: var(--incorrect);
    color: #fff;
    padding: 7% 30%; 
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 0.75rem;
    box-shadow: 8px 8px 20px 0px #30234471;
    cursor: pointer;
}

/* .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
} */

/* Media Queries */

@media all and (min-width: 1024px) and (max-width: 1440px) {

    body {
        background-color: #433162;
    }
    .container {
        background-color: #fff;
        position: fixed;
        width: 375px;
        height: 575px;
        border-radius: 2%;
        margin: 15% 32%;
    }
    .clock {
        width: 8%;
    }
    #countdown {
        position: absolute;
        right: 20%;
    }
    .questions {
        display: inline-block;
        margin-top: 5rem;
        margin-left: 6rem;
    }
    .answers-container {
        margin-top: 3rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: #433162;
    }
    .container {
        background-color: #fff;
        position: fixed;
        width: 375px;
        height: 575px;
        border-radius: 2%;
        margin: 15% 25%;
    }
    .clock {
        width: 8%;
    }
    #countdown {
        position: absolute;
        right: 20%;
    }
    .questions {
        display: inline-block;
        margin-top: 5rem;
        margin-left: 6rem;
    }
    .answers-container {
        margin-top: 3rem;
    }
}

@media all and (min-width: 375px) and (max-width: 767px) {
    .container {
        background-color: #fff;
        width: 100%;
        height: 100%;
        margin: 0% auto;
    }
}