/* Root Global CSS Variables */
:root {
  --buttons: #8264B2;
  --answer-select: #6F4077;
  --correct: #649E5A;
  --incorrect: #AE4646;
  --default-font: #5B4482;
}

.game-container {
  background: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;

  width: 600px;
  height: 750px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

@media screen and (max-width: 768px) {
  .game-container {                     
      height: 100vh;
      width: 100vw;
  }
}

.choice-container {
  display: flex;
  max-width: 25rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: 0.1rem solid var(--buttons);
  background-color: white;
}

@media screen and (max-width: 768px) {
  .choice-container {
    max-width: 20rem;
  }
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem #6F4077;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1rem 1.5rem;
  background-color: var(--buttons);
  color: white;
}

.choice-text {
  font-size: 1rem;
  color: var(--default-font);
  padding: 1rem;
  width: 100%;
}

.correct {
  background-color: var(--correct);
}

.incorrect {
  background-color: var(--incorrect);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

#hud-item {
  margin-inline-end: 5rem;
  color: var(--default-font);
}

@media screen and (max-width: 768px) {
  #hud-item {
    margin-inline-end: 2rem;
  }
}

.hud-prefix {
  text-align: left;
  font-size: 1.5rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 15rem;
  height: 2.5rem;
  border: 0.3rem solid var(--answer-select);
  margin-top: 1rem;
}

#progressBarFull {
  height: 2rem;
  background-color: var(--answer-select);
  width: 0%;
}

#question {
  color: var(--default-font);
  font-size: 1rem;
  max-width: 25rem;
}

@media screen and (max-width: 768px) {
  #question {
    max-width: 20rem;
  }
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid var(--default-font);
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}